#surveybtn {
	background-color:green;
}

.jumbotron {
	background-image: url("https://02mhh4i42s-flywheel.netdna-ssl.com/wp-content/uploads/2000/09/earth.jpg");
	background-repeat: no-repeat;
	color:white;
}


